html,body,head,span,div,img,a,ul,li,input,h1,p,h2,h3,h4,h5,h6,header{
	margin:0;
	padding:0;	
}
body
{
	font:normal 12em Arial;
	box-sizing:border-box;
}
img 
{ 
	max-width: 100%; 
	height: auto; 
	width: auto\9; /* ie8 */ 
}
a,a:hover{
	text-decoration:none;
}
ul,ol{
	list-style: none;
}
::-webkit-input-placeholder {
   color: #A9A9A9;
}

:-moz-placeholder { /* Firefox 18- */
   color: #A9A9A9;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #A9A9A9;  
}

:-ms-input-placeholder {  
   color: #A9A9A9;  
}
.clear
{
	clear:both !important;
}

/*Header*/
#cartText
{
	display:none;
}
.cartImage
{
margin-top:10px;
width:30px;
float:left;
}
.cartCount
{
  	height:18px;
  	width:18px;
    float:left;
    margin-top:15px;
    background-color: #fff;
    border-radius:10px;
}
#searchContainer
{
	float:left;
	width:70%;
	margin-left:20px;
}
#cartContainer
{
	width:21%;
	float:left;
}
/*menu*/
#collapse1,#collapse2,#collapse3,#collapse4{
//position: absolute;
    width: 190px;
    background-color: #CCFFFF;
    1top: 177px;
    left: 30px;


}
.drop{
display:block;
max-width: 220px;
    float: left;
}
.drop>.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 15px;
    line-height: 1.42857143;
    color: black;
    white-space: nowrap;
    font-weight: bold;
    padding-left: 1px;
}

header>.navbar-default {
    background-color: #027cd5;
}
header>.navbar-default .navbar-brand {
    color: #fff;
    text-align:center;
}
header>.navbar-default .navbar-brand:hover{
    color: #00BFFF;
}
header>.navbar-default .navbar-nav>li>a 
{
    color:#fff;
}
header>.navbar-default .navbar-nav>li>a:hover
{
    color:#00BFFF;
}
header>.navbar-default .navbar-nav>li
{
	border-top:1px solid #fff;
}
header>.navbar-default .navbar-nav>li:first-child
{
	border-top:0px solid #fff;
}
header>.navbar-default .navbar-nav>li:last-child
{
	border-bottom:1px solid #fff;
}
#logo
{
	display:none;
}
#navbarCollapse ul
{
	width:610px;
}
.minus .collapsed:after {
    font-family: "Glyphicons Halflings";
    content: "\2b";
    float: right;
    margin-left: 15px;
  }
    
  .minus a:after{	
 	font-family: "Glyphicons Halflings";
    content: "\2212";
    float: right;
    margin-left: 15px;
}
 /*Carousel*/
 #myCarousel
  {
  		position:absolute;
  		z-index:-1;
  		top:120px;
  		width:90%;
  }
  /*sign up*/

 form span
	{
		color:red;
	}
 /*Landscape css*/

 @media (min-width:470px) and (max-width:767px)
 {
 		#searchContainer
		{
			float:left;
			width:70%;
			margin-top:7px;
		}
		#cartContainer
		{
			width:20%;
			float:left;
			margin-left:20px;
		}
		.searchComponent
		{
			margin-bottom:10px;
		}
 }

 /*Tablet css*/

 @media (min-width:768px) and (max-width:920px)
 {
 		header>.navbar-default .navbar-nav>li
		{
			border-top:0px solid #fff;
		}
		header>.navbar-default .navbar-nav>li:first-child
		{
			border-top:0px solid #fff;
		}
		header>.navbar-default .navbar-nav>li:last-child
		{
			border-bottom:0px solid #fff;
		}
 		#searchContainer
		{
			float:left;
			width:70%;
			margin-top:7px;
		}
		#cartContainer
		{
			width:20%;
			float:left;
			margin-left:30px;
			background-color:#006cb4;
		}
		#cartText
		{
			display:block;
			float:left;
			margin-top: 15px;
    		margin-left: 5px;
		}
		.cartContainer>a
		{
				color:#fff;
		}
		.cartContainer>a:hover
		{
				color:#808080;
		}
		.cartCount
		{
			margin-left:10px;
			margin-top:15px;
		}
		.searchComponent
		{
			margin-top:60px;
			margin-bottom:10px;
		}
		.drop>.dropdown-header {
		    display: block;
		    padding: 3px 20px;
		    font-size: 15px;
		    line-height: 1.42857143;
		    color: black;
		    white-space: nowrap;
		    font-weight: bold;
		    padding-left: 1px;
		}

		#collapse1,#collapse2,#collapse3,#collapse4{
		position: absolute;
		    width: 700px;
		    background-color: #CCFFFF;
		    1top: 177px;
		   left: 30px;
		}
	
		.panel-group .panel-default>.panel-heading 
		{
		    color: #fff;
		    background-color: #006cb4;
		    border-color: #ddd;
		}
		.panel-group .panel
		 {
		 		width:180px;
			    float:left;
			    margin-top:5px;
		}
		.panel-group .panel
		{
			border:none;
		}
		.navbar .navbar-collapse
		{
			padding-left:0px;
		}
		.minus .collapsed:after 
		{
		    font-family: "Glyphicons Halflings";
		    content: "\e114";
		 }
    	.minus a:after
    	{	
		 	font-family: "Glyphicons Halflings";
		    content: "\e114";
		}
 }

  /*desktop css*/

 @media (min-width:921px) and (max-width:1366px)
 {
 		#wrapper
 		{
 			width:960px;
 			margin:0 auto;
 		}
 		header>.navbar-default .navbar-brand
 		{
 			display:none;
 		}
 		#logo
		{
			display:block;
			width:150px;
			height:60px;
		}
 		header>.navbar-default .navbar-nav>li
		{
			border-top:0px solid #fff;
		}
		header>.navbar-default .navbar-nav>li:first-child
		{
			border-top:0px solid #fff;
		}
		header>.navbar-default .navbar-nav>li:last-child
		{
			border-bottom:0px solid #fff;
		}
 		header>.navbar-default .navbar-brand 
 		{
    		font-size:2em;
		}
		#navbarCollapse>.navbar-right 
		{
		    float: right!important;
		    margin-right:0px;
		}
		#navbarCollapse>.navbar-nav>li
		{
		    float: left;
		    margin-right:70px;
		}
 		#searchContainer
		{
			float:left;
			width:50%;
			margin-top:7px;
			margin-left:300px;
		}
		#cartContainer
		{
			width:15%;
			float:left;
			margin-left:30px;
			background-color:#006cb4;
		}
		.cartImage
		{
			width:20%;
		}
		#cartText
		{
			display:block;
			float:left;
			margin-top: 15px;
    		margin-left: 5px;
		}
		.cartContainer>a
		{
				color:#fff;
		}
		.cartContainer>a:hover
		{
				color:#808080;
		}
		.cartCount
		{
			margin-left:10px;
			margin-top:12px;
		}
		.searchComponent
		{
			margin-top:60px;
			margin-bottom:10px;
		}
		.navbar .container
		{
			width:957px;
			background-color:#006cb4;
		}
		.container
		{
			padding-top:10px;
			padding-bottom:10px;
		}
		.panel-group .panel-default>.panel-heading 
		{
		    color: #fff;
		    background-color: #006cb4;
		    border-color: #ddd;
		}
		.panel-group .panel
		 {
		 		width:220px;
			    float:left;
			    margin-top:5px;
		}
		.panel-group .panel
		{
			border:none;
		}
		.navbar .navbar-collapse
		{
			padding-left:0px;
		}
		.minus .collapsed:after 
		{
		    font-family: "Glyphicons Halflings";
		    float:right;
		    content: "\e114";
		 }
    	.minus a:after
    	{	
		 	font-family: "Glyphicons Halflings";
		 	 float:right;
		    content: "\e114";
		}
		/*sign up*/
		body .form_container
		{
			margin-top:10px;
			width:100%;
		}
		#signup
		{
			margin-left: 206px;
	    	margin-bottom: 10px;
		}
		.drop>.dropdown-header {
	    display: block;
	    padding: 3px 20px;
	    font-size: 15px;
	    line-height: 1.42857143;
	    color: black;
	    white-space: nowrap;
	    font-weight: bold;
	    padding-left: 1px;
			}
		#collapse1,#collapse2,#collapse3,#collapse4{
		position: absolute;
		    width: 960px;
		    background-color: #CCFFFF;
		    top: 177px;
		    left: 0px;


		}
		.productContainer{
			top: 190px;
			position: relative;
		}
		#myCarousel {
		    position: absolute;
		    z-index: -1;
		    width: 70%;
		    top: 180px;
		}
	.carousel-inner > .item > a > img {
    line-height: 1;
    margin: 0px auto;
	}
	#productDescription{
width:80%;
padding:5px;
overflow:hidden;
}
#productDescription img{
width:50%;
}
#productDescription h2 p{

}

 
.product{
    width: 49%;
    margin: 0 auto;
    overflow: hidden;
	border:1px solid;
	margin-top:25px;
 }
.content{
float:left;
width:50%;
font-size:1.5em;

}
 .product img{
 float:left;
 width:50%;
 } 
  .offer{
  color:green;
 }
 .electronics,.media,.men,.women{
	height:auto;
	overflow:hidden;
	margin:0 auto;
	1width:980px;
	1padding-left:20px;
 }
 .productContent{
   width:300px;
   height:300px;
   float:left;
   margin:40px 15px 10px 0;
   text-align:center;
   border:2px solid grey;
   text-transform: capitalize;
   font-size:1.5em;
   padding-top:15px;
 }
 .productname{
 cursor:pointer;
 font-size:1.5em;
 }
 .category,.productsPartial{
 width:980px;
 margin:0 auto;
 }
 .categorySection{
 	overflow:hidden;
 }

.brands{
	float:left;
	width:20%;

}
.productCategory{
	float:left;
	width:80%;
}
.brands span{
	font-size:1.5em;
	padding-left:5px;
}
.brands h1{
	font-size:2em;
	padding-bottom: 14px;
	margin-top: 40px;
}
.categoryContent{
	width:240px;
	height:240px;
	float:left;
	margin:40px 15px 10px 0; 
   text-align:center;
   border:2px solid grey;
   text-transform: capitalize;
   font-size:1.5em;
   padding-top:15px;
}

}


/* Golbal CSS FOR MAIN HTML PAGE */ 
*{
	margin:0;
	padding:0;	
}
body{
	font:normal 100% Arial;
	box-sizing:border-box;
}
img { 
	max-width: 100%; 
	height: auto; 
	width: auto\9; /* ie8 */ 

	}
/* Product Description Details*/

