<!-- product description of carousel offers page-->
<section id="productPage">
	<div class="productDescription">
		<div class="product">
			<img ng-src="{{productDescription.url}}"/>
			<div class="content"><h2>{{productDescription.title}}</h2>
			<p>{{productDescription.desc}}</p> 
			<p class="price">{{productDescription.price | currency}}</p>
			<p class="offer">{{productDescription.offer}}</p>
			<button>ADD TO CART </button>
			<button>BUY NOW </button>
			</div>
		</div>
	</div>
</section>


	
